html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}
:root {
    --info_font: Arial, Helvetica, sans-serif;
    --color-black: black;
    --color-fgreen: forestgreen;
    --color-orange: orange;
    --color-yellow: yellow;
    --color-azure: azure;
    --color-purple: purple;
    --color-ored: orangered;
}
canvas {
    display: block;
    margin: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.message-info p {
    font-family: sans-serif;
    font-size: 1.2rem;
    color: var(--color-azure);
    background-color: var(--color-black);
}

.player-info {
    width: 480px; /*512px;*/
    height:14px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2em;
    display: block;
    z-index: 1;
}

#player-info-ammo {
    float: left;
    font-family: Arial, sans-serif;
    color: var(--color-yellow);
    /*z-index:1;*/
}

#player-score {
    float: right;
    color: var(--color-yellow);
    font-size: 1em;
    /*z-index:1;*/
}

/* div sections not to be displayed*/
#splash-gamewon, #splash-nextlevel, #splash-gamepause, #splash-game-about, #splash-game-howtoplay, #splash-gamebegin-newgame, #splash-gameover-playagain, #splash-screen {
    margin: auto;
    width: 480px;
    height: 525px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

/***************************/
#splash-screen {
    opacity: 1.5;
}
h1 {
    font-family: sans-serif;
    font-size: 2.50em;
    background-color: var(--color-black);
}
h2 {
    font-family: sans-serif;
    font-size: 2em;
    background-color: var(--color-black);
}
small {
    font-family: sans-serif;
    font-size: 0.75em;
    color: var(--color-azure);
    background-color: var(--color-black);
}
button {
    font-family: sans-serif;
    font-size: 1.25rem;
    font-weight: bolder;
    margin:5px;
    padding:5px;
    border-radius: 5px;
}
/***************************/
/* how to play splash screen*/
#splash-game-howtoplay {
    height: 250px;
    text-align: center;
    color: var(--color-yellow);
    display: none;
}

/* #splash-game-howtoplay button { */
#btn-gamebegin-howtoplay {
    background-color: var(--color-yellow);
}
#btn-close-HowTo {
    color: var(--color-yellow);
    background-color: var(--color-purple);
}
/***************************/
/* about splash screen*/
#splash-game-about {
    height: 350px;
    text-align: center;
    color: var(--color-yellow);
    display: none;
}

/* #splash-game-about button { */
#btn-gamebegin-about {
    background-color: var(--color-orange);
}
#btn-close-about {
    color: var(--color-yellow);
    background-color: var(--color-purple);
}
/***************************/
/* new game CSS*/
#splash-gamebegin-newgame {
    height: 350px;
    text-align: center;
    color: var(--color-azure);
    display: none;
}
#btn-gamebegin-newgame {
    background-color:var(--color-fgreen);
    color: var(--color-azure);
}
/***************************/
/* game paused css */
#splash-gamepause {
    height: 250px;
    text-align: center;
    color: var(--color-orange);
    display: none;
}

#splash-gamepause h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#btn-gamepause {
    background-color: var(--color-orange);
}

/***************************/
/* game over css*/
#splash-gameover-playagain {
    height: 250px;
    text-align: center;
    color: var(--color-azure);
    display: none;
}

#splash-gameover-playagain h1 {
    font-size: 3em;
    font-family: sans-serif;
    background-color:var(--color-black);
}

#btn-gameover-playagain {
    background-color: var(--color-yellow);
}
#btn-gameover-exit {
    background-color: var(--color-ored);
}
/*****************************/
/* next level css */
#splash-nextlevel {
    height: 250px;
    text-align: center;
    color: var(--color-yellow);
    display: none;
}
#splash-nextlevel h1{
    font-size: 3em;
    font-family: sans-serif;
}
#btn-nextLevel {
    background-color: var(--color-fgreen);
    color: var(--color-azure);
}

#splash-gamewon {
    height: 250px;
    text-align: center;
    color: var(--color-yellow);
    display: none; 
}
#splash-gamewon h1{
    font-size: 3em;
    font-family: sans-serif;
}
#btn-gamewon-exit {
    background-color: var(--color-purple);
    color: var(--color-azure);
}